body {
  margin: 0
}

.tableRow {
  background-color: white;
}

.tableRow.Mui-selected {
  background-color: #f1dfff !important;
}

.table {
  table-layout: fixed;

  .tableHead{
    user-select: none;
  }
  .tableCell {
    border-top: 1px dashed #E0E0E0 !important;
    border-right: 1px dashed #E0E0E0 !important;
    /* padding: 10px 0; */
    padding: 16px, 0px, 0px, 0px;
    &.resizable{
      position: relative;
    }
    &.emptyCell{
      width: "auto"
    }
  }
 
  .resizeLine{
    position: absolute; 
    height: 100%;
    width: 4px;
    top: 0;
    right: -2px;
    cursor: col-resize;
    &:hover{
      background-color: #9723ef;
    }
    &:active {
      background-color: #9723ef;

    }
  }
  
}

.tableCell {
  border: 1px dashed #E0E0E0 !important;
  /* padding: 10px 0; */
  padding: 16px, 16px, 16px, 16px;
  &.resizable{
    position: relative;
  }
  &.emptyCell{
    width: "auto"
  }
}
